form {
    padding: 1em;
    margin: 0 auto;
    width: 190px;
    border: 1px solid black;
}

h1 {
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

input, label {
    display: block;
}